body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
width: 100%; 
height: 100%; 
margin: 0; 
padding: 0;
overflow-x: hidden;
}
.content {
margin-left: 200px;
padding: 20px;
}
.version-web {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
}
.user-icon {
text-align: center;
padding: 10px;
color: white;
}svg {
width: 80px;
margin: 0px;
padding: 0px;
}
/*Pagina que sobe para iniciar a web*/
body, html {
height: 100%;
margin: 0;
}
.itens {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    margin-left: 8px;
    color: rgb(156, 156, 156);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas de tamanho igual */
    gap: 20px; /* Espaço entre as colunas e as linhas */
}

.item {
    border: 2px solid #ccc; /* Uma borda fina para destacar os itens */
    padding: 20px; /* Espaçamento interno para o conteúdo */
    text-align: center; /* Centralizar o texto */
    border-radius: 7px;
}

h5 {
    color: #a8a8a8a2;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.205);
    -webkit-text-stroke-width: 1.2px;
}
p {
    font-size:18px;
    color: #a8a8a8a2;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.507);
    -webkit-text-stroke-width: 1.2px;
}



